<link rel="stylesheet" href="/css/classroom.css">
    <div id="copy-classroom-code">
        <span id="classroom-code" data-classroom-code="<%= classroom._id %>"><%= classroom._id %></span>
        <button id="copy-code-btn">copy code</button>
    </div>

    <form id="make-announcement" action="/users/classroom/make-announcement">
        <textarea name="announcement" id="" cols="30" rows="4" placeholder="Make your announcement"></textarea>
        <input type="submit">
    </form>
    <script src="/js/classroom.js"></script>
<!-- <p><%= locals.user._id %></p> -->