<link rel="stylesheet" href="/css/classroom.css">
<div id="copy-classroom-code">
    <p> 45894 </p>
    <button id="copy-code">copy code</button>
</div>

<form id="make-announcement" action="/users/classroom/make-announcement">
    <textarea name="announcement" id="" cols="30" rows="4" placeholder="Make your announcement"></textarea>
    <input type="submit">
</form>
<p> <%= classroom._id %> </p>