

        <link rel="stylesheet" href="/css/create_classroom.css">
        <h3>Contact Form</h3>
        
        <div class="create-classroom-form-container">
          <form action="/users/new-classroom" method="post">
            <label for="name">Title</label>
            <input type="text" id="title" name="title" placeholder="Title..">
        
            <label for="section">Section</label>
            <input type="text" id="section" name="section" placeholder="Section..">
        
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" placeholder="Subject..">
            
            <label for="Grade">Grade</label>
            <input type="text" id="grade" name="grade" placeholder="Grade..">
        
            <label for="Description">Description</label>
            <textarea id="subject" name="Description" placeholder="Write something.." style="height:200px"></textarea>
            <input type="submit" value="Submit">
          </form>
        </div>