<h3>Create Classroom Form</h3>
<div class="join-classroom-form-container">
    <form action="/users/join-classroom" method="post">
        <input type="text" name="classroom_id" placeholder="Enter the id ">
    </form>
</div>