<link rel="stylesheet" href="/css/join_classroom.css">
<h3>Create Classroom Form</h3>
<div class="join-classroom-form-container">
    <form action="/users/join-classroom" method="post">
        <label for="id">Classroom Id</label>
        <input type="text" name="classroom_id" placeholder="Enter the id ">
        <input type="submit" value="Submit">
    </form>
</div>