<link rel="stylesheet" href="/css/profile.css">
<div class="container">
<div class="left_container">
<form action="/users/change-avatar" method="post" enctype="multipart/form-data" id="left-form">
    <input type="file" name="avatar">
    <input type="submit">
</form>
</div>
<div class="right_container">
    <form action="" method="post" id="right-form">
        <label for="name" style="font-family:'Inter';">Name</label>
        <input type="text" id="name" name="name" placeholder="Name" autocomplete="off">
    </br>
    
        <label for="email" style="font-family:'Inter';">Email</label>
        <input type="text" id="email" name="email" placeholder="Email" autocomplete="off">
    </br>
        <label for="Bio" style="font-family:'Inter';">ABOUT YOURSELF</label>
        <textarea id="Bio" name="Bio" placeholder="Write something.." style="height:100px" autocomplete="off"></textarea>
    </br>
        <label for="subject" style="font-family:'Inter';">INTERESTS</label>
        <input type="text" id="subject" name="subject" placeholder="Subject.." autocomplete="off">
    </br>
        <label for="Grade" style="font-family:'Inter';">Grade</label>
        <input type="text" id="grade" name="grade" placeholder="Grade.." autocomplete="off">
    </br>
        <input type="submit" value="Submit">
      </form>
</div>
</div>