<link rel="stylesheet" href="/css/profile.css">
<form action="/users/change-avatar" method="post" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <input type="submit">
</form>