<link rel="stylesheet" href="/css/users_home.css">
<div id="classroom-cards-container">
        <% for (classroom of users.classrooms){ %>
                <div class="cards">
                        <a href=""><h3 class="classroom-title"> <%= classroom.title %> </h3></a>
                        <span> <%= classroom.teacher.name %> </span>
                        <small class="classroom-section"> <%= classroom.section %> </small>
                        <small class="classroom-grade"> <%= classroom.grade %> </small>
                </div>
        <% } %>

</div>

        

    