#classroom-cards-container{
    position: absolute;
    top: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 3vw;
    gap: 30px;
}
.cards{
    /* margin: 10px; */
    /* height: 200px;
    width: 150px; */
    height: 18rem;
    width: 19rem;
    background-image: linear-gradient(to bottom,rgb(9, 158, 83) 50%,white 50%);
    box-shadow: 0 4px 8px #0005,
          0 8px 8px #0004;
    transition: transform 300ms ease;
    z-index: 0;
    border-radius: 12px;

}
/* .cards h3{
    display: block;
    width:100%;
    height: 10%;
    box-sizing: border-box;
    color: whitesmoke;
    box-sizing: border-box;

}
.classroom-title :hover{
    cursor: pointer;
    transform: scale(1.05);
    text-decoration: underline;
    color: grey;
} */
.classroom-title {
    margin-left: 1rem;
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-overflow: ellipsis;
  }
  
  .classroom-title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .classroom-title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
.cards span{
    font-family:'Google Sans',Roboto,Arial,sans-serif;
    margin-left: 1rem;
    display: block;
    position: absolute;
    top: 40%;
    box-sizing: border-box;
}
.cards .classroom-section{
    position: absolute;
    display: block;
    
    top: 55%;
    box-sizing: border-box;
}
.cards .classroom-grade{
    position: absolute;
    display: block;
    
    top: 70%;
    box-sizing: border-box; 
}